{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Video</h3>

    <div class="row card-style2">
        <form class="col s12" method="POST" action="{{ url_for('add_video') }}">
    <!--Choose Category-->
    <div class="row" id="category_radio_buttons">
        {% for category in categories %}
          <label>
            <input class="with-gap" name="category_name" type="radio" value="{{ category.category_name }}" {% if loop.first %}checked{% endif %} required />
            <span>{{ category.category_name }}</span>
          </label>
        {% endfor %}
      </div>
    <!--Video Title-->        
            <div class="row">
                <div class="input-field col s12 text-color">
                    <i class="fas fa-video prefix"></i>
                    <input class="text-color" id="video_title" name="video_title" minlength="1" maxlength="50"
                        type="text" class="validate" required>
                    <label for="video_title">Video Title</label>
                </div>
            </div>
    <!--Video Description--> 
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea class="text-color" id="video_description" name="video_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="video_description">Video Description</label>
                </div>
            </div>
   

    <!-- Video link and preview -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-link prefix"></i>
                    <input class="text-color" id="video_link_input" name="video_link" minlength="5"
                        maxlength="50" class="materialize-textarea validate" required>
                    <label for="video_link_input">Video Link</label>
                </div>
                <div class="col s12">
                    <div id="video-preview"></div>
                </div>
            </div>

    <!--Hire Me-->         
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="hire_me">
                            <input type="checkbox" id="hire_me" name="hire_me">
                            <span class="lever"></span>
                           For Hire 
                        </label>
					</div>
				</div>
			</div>
    <!--Submit Button-->         
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('profile')}}" class="btn-large red btn-mob">
                        Cancel <i class="fas fa-xmark right"></i>
                    </a>
                    <button type="submit" class="btn-large green lighten-2">
                        Submit <i class="fas fa-rocket right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}