<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %} {% endblock %}
    <title>Moontube</title>
</head>
<body>
    <header>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            {% if session.user %}
            <li><a href="{{ url_for('add_video') }}">Add Video</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            {% if session.user|lower == "admin"|lower %}
            <li><a href="{{ url_for('get_categories') }}">Admin Portal</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>

        <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper" style="background-image: url('/static/assets/WesbiteBanner-clean.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <!-- Logo in the center -->
                <a href="{{ url_for('get_videos') }}" class="brand-logo center">
                  <img src="/static/assets/logo1.png" alt="Your Logo" class="responsive-img banner-logo">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                  <i class="fas fa-bars"></i>
                </a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="{{ url_for('get_videos') }}">Home</a></li>
                  
                  <li>
                    <a class="dropdown-trigger" href="#" data-target="dropdown1">
                      Menu <i class="material-icons right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>

        <!-- Mobile Sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align">Moontube</h4>
            </li>
            <li><a href="{{ url_for('get_videos') }}">Home</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('add_video') }}">Add Video</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            {% if session.user|lower == "admin"|lower %}
            <li><a href="{{ url_for('get_categories') }}">Admin Portal</a></li>
            {% endif %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="row flashes">
            <h3 class="flash-style center-align">{{ message }}</h4>
        </div>
        {% endfor %} {% endif %} {% endwith %}
    </section>
    <main class="container">{% block content %} {% endblock %}</main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %} {% endblock %}
</body>
</html>
