{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Admin Portal</h3>


<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('list_users') }}" class="btn-large btn-large-custom light-blue darken-2 text-shadow">
            Users <i class="fas fa-users right"></i>
        </a>
    </div>
</div>


<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('admin_videos') }}" class="btn-large btn-large-custom orange darken-2 text-shadow">
            All Videos <i class="fas fa-film right"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large btn-large-custom light-blue darken-2 text-shadow">
            Add Category <i class="fas fa-plus-circle right"></i>
        </a>
    </div>
</div>

<!-- Categories Table -->
<table class="responsive-table striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.category_name }}</td>
            <td>
                <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn green lighten-2 ">Edit</a>
                <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn red">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
