{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Video</h3>

    <div class="row card-style2">
        <form class="col s12" method="POST" action="{{ url_for('edit_video', video_id=video._id) }}">

   <!--Choose Category-->
   <div class="row" id="category_radio_buttons">
    {% for category in categories %}
        <label>
            <input class="with-gap" name="category_name" type="radio" value="{{ category.category_name }}" {% if category.category_name == video.category_name %}checked{% endif %} required />
            <span>{{ category.category_name }}</span>
        </label>
    {% endfor %}
</div>

    <!--Video Title-->        
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-tv prefix"></i>
                    <input class="text-color" id="video_title" name="video_title" minlength="1" maxlength="50"
                      value="{{ video.video_title }}"  type="text" class="validate" required>
                    <label for="video_title">Video Title</label>
                </div>
            </div>

    <!--Video Description--> 
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil prefix"></i>
                    <textarea class="text-color" id="video_description" name="video_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                    {{- video.video_description -}}</textarea>
                    <label for="video_description">Video Description</label>
                </div>
            </div>

    <!-- Video Link Preview -->
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons tooltipped fa-brands fa-youtube prefix" data-position="right" data-tooltip="Paste URL"></i>
            <textarea class="text-color" id="video_link_input" name="video_link" class="materialize-textarea validate" minlength="5" maxlength="50" required>{{ video.video_link }}</textarea>
            <label for="video_link_input">Video Link</label>
            <p>*Paste only Youtube URL from the address bar</p>
        </div>
        <div class="col s12">
            <div id="video-preview"></div>
        </div>
    </div>
    
    <!--Hire Me-->         
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="hire_me">
                            {% if video.hire_me == "hire" %}
                            <input type="checkbox" id="hire_me" name="hire_me" checked>
                            {% else %}
                            <input type="checkbox" id="hire_me" name="hire_me">
                            {% endif %}
                            <span class="lever"></span>
                           For Hire 
                        </label>
					</div>
				</div>
			</div>
            
    <!--Submit Button-->         
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('profile')}}" class="btn-large red btn-mob">
                        Cancel <i class="fas fa-xmark right"></i>
                    </a>
                    <button type="submit" class="btn-large green lighten-2">
                        Update <i class="fas fa-rocket right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}