{% extends "base.html" %}
{% block landing %}
<div class="row">
  <div class="col m4 l2" id="fixed-nav-panel">
    <!-- Logo Section -->
    <div class="logo-section center-align logo">
        <a href="{{ url_for('get_videos') }}">
        <img height="150" width="150" src="/static/assets/logo2.png" alt="Your Logo">
        <h3 class="title-logo"><b>MOONTUBE</b></h3>
      </a>
    </div>

    <!-- Section 1 -->
    <div class="section center-align">
       <a href="{{ url_for('moontuber_directory') }}">
        <h4><i class="fas fa-user-astronaut prefix"></i>  Hire a Moontuber</h4>
      </a>
    </div>

     <!-- Section 2 -->
     <div class="section center-align">
        <p>Welcome to MOONTUBE, your ultimate platform for connecting investors, crypto developers, and YouTubers all in one place. 
          MOONTUBE streamlines the crypto community by providing a secure space to find influencers, create marketing opportunities, and promote projects. 
          MOONTUBE simplifies the crypto experience with just a click.</p>
      </div>

    <!-- Search Bar -->
    <div class="section search-bar">
        <div>
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row input">
                    <div class="input-field">
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search Videos</label>
                    </div>
                    <div class="valign-wrapper right">
                        <a href="{{ url_for('get_videos') }}" class="red btn-small text-shadow">
                            <i class="fas fa-xmark"></i>
                        </a>
                        <button type="submit" class="light-blue darken-1 btn-small text-shadow">
                            <i class="fas fa-rocket"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>

  <div class="col s12 m8 l10 xl10 right">
    <div class="row">
        {% for user in users %}
        <div class="col s12 m6 l4 xl3">
            <div class="card card-style2">
                <div class="center-align">
                    <i class="fas {{ user.selected_animal }} fa-5x"></i>
                </div>
                <div class="card-content">
                    <span class="card-title">{{ user.username }}</span>
                    <p>Email: {{ user.email }}</p>
                </div>
                <!-- Card action for bio -->
                <div class="card-action">
                    <a href="{{ url_for('moontuber_profile', username=user.username) }}">
                        View Bio
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
