{% extends "base.html" %}
{% block content %}



<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-style">
            <h3 class="center-align">
                {{ username }}'s Portal
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Video Link</th>
                    <th>Hire Me</th>
                    <th>Created By</th>
                    <th>Edit / Delete</th>
                    <a href="{{ url_for('add_video') }}" class="btn">New Video</a>
                </tr>
            </thead>
            <tbody>
                {% for video in user_uploaded_videos %}
                <tr>
                    <td>{{ video.category_name }}</td>
                    <td>{{ video.video_title }}</td>
                    <td>{{ video.video_description }}</td>
                    <td>
                        <a href="{{ video.video_link }}" target="_blank" rel="noopener noreferrer">
                            {{ video.video_link }}
                        </a>
                    </td>
                    <td>{{ video.hire_me }}</td>
                    <td>{{ video.created_by }}</td>
                    <td>
                        {% if username == "admin" or username == video.created_by %}
                        <a href="{{ url_for('edit_video', video_id=video._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                        <a href="{{ url_for('delete_video', video_id=video._id) }}" class="btn-small red accent-4 delete-video-btn">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
