{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-style2">

               <!-- username -->
               <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-solid fa-user-astronaut prefix text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>

            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-skull-crossbones prefix text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <!-- login -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large amber lighten-1">
                        Register <i class="fas fa-rocket right"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already Registered?
                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>


{% endblock %}