{% extends "base.html" %}
{% block landing %}
<div class="row">
  <div class="col m4 l2" id="fixed-nav-panel">
    <!-- Logo Section -->
    <div class="logo-section center-align logo">
        <img height="150" width="150" src="/static/assets/logo2.png" alt="Your Logo">
    </div>
    <!-- Section 1 -->
    <div class="section center-align">
       <a href="#">
        <h4>  Hire a Moontuber <i class="fa fa-rocket">
        </i></h4>
      
        </i>
        </a>
    </div>
    <!-- Section 2 -->
    <div class="section">
        <!-- Content for Section 2 -->
        <h5>Featured Videos</h5>
        <!-- Add links or other content for this section -->
    </div>
    <!-- Section 3 -->
    <div class="section">
        <!-- Content for Section 3 -->
        <h5>Trending Videos</h5>
        <!-- Add links or other content for this section -->
    </div>
    <!-- Section 4 -->
    <div class="section">
      <h4>Top Categories</h4> 
    <ul>
      <li>TRENDING</li>
      <li>ETH</li>
      <li>BSC</li>
      <li>POLYGON</li>
      <li>DEFI</li>
      <li>NFT</li>
    </ul>
    </div>

  

    <!-- Search Bar -->
    <div class="section search-bar">
        <div class="row">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row input">
                    <div class="input-field">
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search Videos</label>
                    </div>
                    <div class="valign-wrapper right">
                        <a href="{{ url_for('get_videos') }}" class="red btn-small text-shadow">
                            <i class="fas fa-xmark"></i>
                        </a>
                        <button type="submit" class="light-blue darken-1 btn-small text-shadow">
                            <i class="fas fa-rocket"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>

  <div class="col s12 m8 l10 xl10 right">
      <h3>New Videos</h3> 
      {% for category, videos in categorized_videos.items() %} 
      <h4><u>{{ category }}</u></h4>

    <div>
      {% for video in videos %} 
      <div class="col s12 m6 l4 xl3">
        <div>

          <!-- Video Card -->
          <div class="card card-style">
            <a href="{{ url_for('video_detail', video_id=video._id) }}">
                <h2>
                  <span class="card-title">{{ video.video_title }}</span>
                </h2>
              <div>
                <div class="video-container">
                  <iframe src="{{ video.video_link }}?rel=0&modestbranding=1&controls=1&showinfo=0" title="video player" allowfullscreen></iframe>
                </div>
                <p><em>"{{ video.video_description }}"</em></p>
                <p class="red-text">{{ video.created_by }}
                  {% if video.hire_me == "hire" %}
                  <a class="btn-floating waves-effect waves-light red right">
                    <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Hire Me!">{{ video.hire_me }}</i>
                  </a>
                  {% endif %}
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
