{% extends "base.html" %} {% block content %} 

<div class="row">

    <div class="col m4 l2" id="fixed-nav-panel">
        <!-- Logo Section -->
        <div class="logo-section center-align logo">
          <a href="{{ url_for('get_videos') }}">
            <img height="150" width="150" src="/static/assets/logo2.png" alt="Your Logo">
            <h3 class="title-logo"><b>MOONTUBE</b></h3>
          </a>
        </div>
            <!-- Section 1 -->
    <div class="section center-align">
      <a href="#">
       <h4><i class="fa fa-user-astronaut prefix">
       </i>  Hire a Moontuber </h4>
     </a>
   </div>

    <!-- Section 2 -->
    <div class="section center-align">
        <p>Welcome to MOONTUBE, your ultimate platform for connecting investors, crypto developers, and YouTubers all in one place. 
          MOONTUBE streamlines the crypto community by providing a secure space to find influencers, create marketing opportunities, and promote projects. 
          MOONTUBE simplifies the crypto experience with just a click.</p>
      </div>

     <!-- Search Bar -->
    <div class="section search-bar">
        <div>
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row input">
                    <div class="input-field">
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search Videos</label>
                    </div>
                    <div class="valign-wrapper right">
                        <a href="{{ url_for('get_videos') }}" class="red btn-small text-shadow">
                            <i class="fas fa-xmark"></i>
                        </a>
                        <button type="submit" class="light-blue darken-1 btn-small text-shadow">
                            <i class="fas fa-rocket"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
      
        
  </div>


  <div class="col s12 m8 l10 xl10 right">
    <a href="{{ url_for('moontuber_profile', username=video.created_by) }}"><h2 class="amber-text text-lighten-1">{{ video.created_by }}'s Video</h2></a>
    <h2>{{ video.video_title }}</h2>
    
    <div class="video-container">
        <iframe src="{{ video.video_link }}?rel=0&modestbranding=1&controls=1&showinfo=0" title="video player" allowfullscreen></iframe>
    </div>
    <p>
        <em>"{{ video.video_description }}"</em>
        {% if video.hire_me == "hire" %}
        <a href="{{ url_for('moontuber_profile', username=video.created_by) }}" class="btn-floating waves-effect waves-light red right">
          <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Hire Me!">{{ video.hire_me }}</i>
        </a>
        {% endif %}
    </p>

    <div>
<h4>Comments</h4>
<!-- Comment Submission Form -->
<form action="{{ url_for('submit_comment', video_id=video._id) }}" method="post">
    <div class="input-field">
        <input type="text" name="comment" id="comment" class="validate" required>
        <label for="comment">Write a comment</label>
    </div>
    <button type="submit" class="btn light-blue darken-1">Submit Comment</button>
</form>
<ul class="comments">
    {% for comment in video_comments %}
        <li class="collection-item">
            <strong>{{ comment.user }}:</strong>
            {{ comment.text }}
        </li>
    {% endfor %}
</ul>

      
  </div>
  
</div>



  </div>
  




</div> 

 {% endblock %}