{% extends "base.html" %} {% block landing %} 
<div class="row">
    <div class="col m4 l2 xl2" id="fixed-nav-panel">
        <!-- Logo Section -->
        <div class="logo-section center-align logo">
            <a href="{{ url_for('get_videos') }}"><img height="150" width="150" src="/static/assets/logo2.png" alt="Your Logo"></a>
        </div>
        <!-- Section 1 -->
        <div class="section">
            <!-- Content for Section 1 -->
            <h5>Hire a Moontuber</h5>
            <!-- Add links or other content for this section -->
        </div>
        <!-- Section 2 -->
        <div class="section">
            <!-- Content for Section 2 -->
            <h5>Featured Videos</h5>
            <!-- Add links or other content for this section -->
        </div>
        <!-- Section 3 -->
        <div class="section">
            <!-- Content for Section 2 -->
            <h5>Trending Videos</h5>
            <!-- Add links or other content for this section -->
        </div>
        <!-- Section 4 -->
        <div class="section">
            <!-- Content for Section 2 -->
            <h5>Favourites</h5>
            <!-- Add links or other content for this section -->
        </div>

        <!-- Search Bar -->
        <div class="section search-bar">
            <div class="row">
                <form action="{{ url_for('search') }}" method="post" class="col s12">
                    <div class="row input">
                        <div class="input-field">
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search Videos</label>
                        </div>
                        <div class="valign-wrapper right">
                            <a href="{{ url_for('get_videos') }}" class="red btn-small text-shadow">
                                <i class="fas fa-xmark"></i>
                            </a>
                            <button type="submit" class="light-blue darken-1 btn-small text-shadow">
                                <i class="fas fa-rocket"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- video_detail.html -->
    <div class="col s12 m8 l10 xl10">

        <h2>{{ video.video_title }}</h2>
        <p class="red-text">Uploaded by: {{ video.created_by }}</p>
        <div class="video-container">
            <iframe src="{{ video.video_link }}?rel=0&modestbranding=1&controls=1&showinfo=0" title="video player" allowfullscreen></iframe>
        </div>
        <p>
            <em>"{{ video.video_description }}"</em>
        </p>
        <!-- Add any additional content  -->
        
    </div>
</div>



</div> {% endblock %}